POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your-db-password>
POSTGRES_DB=format_changer
CONNECTION_STRING=Host=db;Database=format_changer;Username=postgres;Password=<your-db-password>

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=587
SMTP_USERNAME=<your-email@yandex.ru>
SMTP_PASSWORD=<your-smtp-app-password>
