.vs/
/format_changer/
FormatChanger/bin/
FormatChanger/obj/
FormatChanger/obj
/FormatChanger/appsettings.json
/FormatChanger/uploads
/FormatChanger/appsettings.json
/FormatChangerTests/bin/Debug/net8.0
/FormatChangerTests/obj
/uploads
/.env
/backend
/uploads
*.env
