<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormatChanger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FormatChanger.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo-container">
                <img src=""
                     alt="Format Changer Logo"
                     class="logo-image" />
                <h1 class="logo-text">format.changer</h1>
            </div>
            <nav class="navigation">
                <div class="nav-links">
                    <a href="#" class="nav-link">Главная</a>
                </div>
                <div class="action-buttons">
                    <button @* asp-controller="Documents" asp-action="Index" *@ id="showUploadButton" class="action-btn upload-btn" onclick="showUploadForm()">Загрузить</button>
                    <button class="action-btn export-btn" id="exportButton" onclick="startFormattingProcess()">Экспорт</button>
                    <button class="action-btn icon-btn">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/551b08bab8c5619ab69f69323afcd4b3d5b9be5dd7ec43d65ffca3e852bad776?placeholderIfAbsent=true&apiKey=a03ea75d5a1e42c8aa0f3316a7f8081b"
                             alt="Settings"
                             class="icon-image" />
                    </button>
                </div>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/266d79a16507ebfa1ec27bd9e1dab48cee39da5671e801f70ea19c28d244d301?placeholderIfAbsent=true&apiKey=a03ea75d5a1e42c8aa0f3316a7f8081b"
                     alt="User Profile"
                     class="profile-image" />
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FormatChanger - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
